@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url("background-img.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.meme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.196);
    padding: 2vw;
}
#meme-img{
height: 26vw;
width: 27vw;
}
#meme-text{
    font-size: 1.3vw;
    margin: 1vw;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.554);
    width: 25vw;
}
#btn{
    padding: .8vw 2vw;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    border-radius: 2vw;
    cursor: pointer;
    background-color: yellow;
    font-weight: 700;
    color: rgb(40, 40, 40);
    transition: 0.2s;
    font-size: 1vw;
}
#btn:hover{
    background-color: rgb(40, 40, 40);
    color: yellow;
    transition: 0.2s;
}

.share-opt{
    position: absolute;
    top: 10%;
    right: 28%;
    font-size: 2.2vw;
    background-color: bisque;
    padding: 1vw;
    border-radius: 50%;
    width: 4.3vw;
    cursor: pointer;
}
.entire-container{
   display: flex;
}
.share-btn{
    position: absolute;
    right: 30%;
}
.share-btn > i{
    font-size: 2vw;
    background-color: grey;
    padding: 1vw;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.sharing-opts{
    list-style: none;
    position: absolute;
}
.sharing-opts > li > a > i{
    padding: 1vw;
    border-radius: 50%;
    margin-top: 1vw;
    background-color: rgba(255, 255, 255, 0.674);
    font-size: 2vw;
    cursor: pointer;
}
.fa-whatsapp{
    color: rgb(21, 152, 51);
    transition: 0.3s;
}
.fa-facebook{
    color: rgb(39, 130, 167);
    transition: 0.5s;
}
.fa-twitter{
    color: rgb(89, 99, 211);
    transition: 0.7s;
}

@media screen and (max-width:900px) {
    #meme-img{
        height: 60vw;
        width: 55vw;
    }
    #meme-text{
        font-size: 3vw;
        width: 55vw;
    }
    #btn{
        font-size: 3vw;
        padding: 2vw 7vw;
        margin: 2vw;
    }
    .share-btn{
        right: 10%;
    }
    .share-btn > i{
        font-size: 4vw;
        background-color: grey;
        padding: 2vw;
    }
    .sharing-opts > li > a > i{
        padding: 2vw;
        margin-top: 3vw;
        font-size: 4vw;
    }
}

@media screen and (max-width:600px) {
    #meme-img{
        height: 90vw;
        width: 85vw;
    }
    #meme-text{
        font-size: 5vw;
        width: 85vw;
    }
    #btn{
        font-size: 5vw;
        padding: 2vw 7vw;
        margin: 3vw;
    }
    .share-btn{
        margin-top: 4vw;
    }
}
